{% extends "base.html" %}

{% block content %}
<h1>Enjoy Shopping</h1>

<form class='form-inline' method='post' action="{{url_for('.create_item')}}">
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Inventory {{ date }}</th>
            </tr>

            {% for item in items %}
            <tr>
                <td>
                    {{
                        item['item']
                    }}
                    {{
                        item['price']
                    }}
                    <input type="number" name="{{item['item']}}" class="form-control" id="price">
                </td>
            </tr>
            {% endfor %}
        </table>
        <input name="submit" class='btn btn-primary' type='submit' value="Add To Cart" />
        <br></br>
        <form class='form-inline'>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="item" class="form-control" id="textName">
                <label for="price">Price:</label>
                <input type="number" name="price" class="form-control" id="textname">
                <input name="submit" class='btn btn-primary' type='submit' value="Submit" />
            </div>
        </form>
  </div>
  <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Cart {{ date }}</th>
            </tr>
            {% for c in cart %}
            <tr>
                <td>
                    {{
                        c['item']
                    }}
                    {{
                        c['quantity']
                    }}
                    Php
                    {{
                        c['price']
                    }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <input name="submit" class='btn btn-primary' type='submit' value="Purchase" />
  </div>
</div>
</form>
{% endblock %}
