{% extends "base.html" %}

{% block pagetitle %} Jinja Samples {% endblock %}

{% block content %}

    <div id='example'></div>
    
{% endblock %}

{% block jsimports %}

    <script type="text/jsx" src="{{url_for('static', filename='js/samples/4.js')}}"></script>
    <script type="text/jsx">
        React.render(
            React.createElement(PostList, null),
            document.getElementById('example')
        );
    </script>

{% endblock %}