{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<div class="row">
    <div class="col-md-6">.col-md-6
        <table class="table">
            <tr>
                <th>Post List for {{ date }}</th>
            </tr>

            {% for post in posts %}
            <tr>
                <td>
                    {{
                        post['post']
                    }}
                </td>
            </tr>
            {% endfor %}
        </table>
  </div>
  <div class="col-md-6">.col-md-6</div>
</div>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <select class='form-control' name="emo">
        <option value="felling happy">felling happy</option>
        <option value="felling angry">felling angry</option>
        <option value="felling hungry">felling hungry</option>
        <option value="felling undecided">felling undecided</option>
    </select>
    <input class='btn btn-primary' type='submit' />
</form>

{% endblock %}
